{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire d'édition</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="/materials">Retourner à la liste</a>
{% endblock %}
